html {
  height: 100%;
}

body {
  background-color: black;
  background-image: url("https://static.pexels.com/photos/110854/pexels-photo-110854.jpeg");
  background-size: cover;
  min-height: 100%;
  position: relative;
}

footer {
  position: absolute;
  bottom: 20px;
}

h1 {
  text-align: center;
  font-size: 52px;
  font-family: "Audiowide", sans-serif;
  color: white;
  margin: 30px 0px;
  text-shadow: 2px 2px cyan;
}

button {
  color: cyan;
  background-color: black;
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Audiowide", sans-serif;
  border: 3px solid cyan;
  border-radius: 5px;
  text-align: center;
}

button:hover {
  background-color: darkviolet;
  transition: background-color 300ms ease-out;
}

#game-modes {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 11.5% auto;
  width: 60%;
  height: 70%;
}

#game-modes h1,
#game-over h1 {
  color: cyan;
  text-shadow: 4px 4px black;
}

#game-modes h1 {
  margin: 0;
}

#controls {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  color: cyan;
  font-size: 24px;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  height: 100%;
  font-family: "Audiowide", sans-serif;
}

#how-to-play {
  padding: 54px 108px 0px 108px;
}

#p1-controls,
#p2-controls {
}

#controls h3 {
  font-size: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
}

#back-button {
  width: 554px;
}

#game-over {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  margin: 200px auto;
  width: 500px;
  display: none;
  flex-direction: column;
}

#game-canvas {
  /*margin: auto;*/
  /*display: block;*/
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  border: 3px solid cyan;
}

#game-menu {
  width: 1000px;
  height: 750px;
  /*display: block;*/
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 2;
  display: block;
  background-color: #333;
  border: 3px solid cyan;
}

#linkedin-icon {
  width: 68px;
  background-image: url("../linkedin.png");
  margin-left: 30px;
}

#github-icon {
  width: 64px;
  background-image: url("../github.png");
  margin-left: 20px
}

#linkedin-icon, #github-icon {
  height: 64px;
  display: inline-block;
  /*margin-left: 40px;*/
}
