/*footer {
  margin-top: 50px;
  height: 80px;
  border-top: 3px solid cyan;
  background-color: #333333;
}*/

body {
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-family: "Audiowide", sans-serif;
  color: white;
  margin: 20px 0px;
  text-shadow: 2px 2px cyan;
}

#game-canvas {
  margin: auto;
  display: block;
  border: 3px solid cyan;
}
